<h2>Comments</h2>
<div class="comment_list">
  <%= render parent.comments %>
</div>  
<h3>New Comment</h3>

<% args = parent.is_a?(Post) ? [parent.category, parent, parent.comments.build] : [parent, parent.comments.build] %>

<%= form_for args, remote: true do |form| %>
  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

