<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to @post.file.file.identifier, @post.file.url if @post.file? %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<%= link_to 'Edit', edit_category_post_path(@category) %> |
<%= link_to 'Back', @category %>
