<p id="notice"><%= notice %></p>

<div class="category">
	<p>
	  <strong>Name:</strong>
	  <%= @category.name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @category.description %>
	</p>

	<div class="comments">
		<%= render 'comments/list', parent: @category %>
	</div>
</div>

<%= render 'posts/index' %>
<%= render 'posts/new' %>